body{
    color: snow;
    background-color: #946185;
    font-family: 'Montserrat Alternates';
    font-size: 25px;
    font-style: normal;
    line-height: 1.5;
    margin: 0px;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    background-color: #946185;
    margin: 0;
}

h2 {
    font-size: 40px;
    text-align: center;
    margin-top: 0;
}

h3 {
    font-size: 25px;
    margin-top: 0;
}

h4 {
    font-size: 20px;
}



.mojefoto {
    width: 200px;
    border-radius: 50%;
    float: left;

    margin: 0px 50px 50px 50px;
}

.paticka {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0;
}

.praxe,
.kontakt {
    background-color: #5F9EA0;
}

section {
    padding: 35px 15%;
    overflow: auto;
}

.menu {
    margin: 0px;
    padding: 0;
    text-align: center;
    background-color: black;
    
}

.menu li {
    display: inline-block;
    background-color: black;
    
}
.menu a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 20px 30px;
    
}

th,
td {
    text-align: left;
    border-bottom: 5px;
    padding: 0px 0px;
}
.druh{
    text-align: left;
    padding-left: 40px;
}

a:hover,
a:focus,
a:active {
    background-color: #946185;
}

a {
    color: rgb(2, 248, 22);
    text-decoration: solid;
}



